**/node_modules
.git
.gitignore
.vscode
.idea
**/__pycache__
**/*.pyc
**/.venv
**/venv
**/dist
**/build
**/.next
**/coverage
**/*.log*
.env*
Dockerfile*
.dockerignore
docker-compose.yml
docker-compose.*.yml
README.md
docs/
scripts/
